.body-img {
    width: 725px;
    height: 725px;
    animation: body-animation 7s infinite;
}

@keyframes body-animation {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.25);
    }
}
