.ear-left-img {
    animation: ear-left-animation 7s infinite;

}

@keyframes ear-left-animation {
    0%, 100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    20% {
        transform: rotate(20deg) translate(20px, 0px);
    }
    21% {
        transform: rotate(-30deg) translate(-20px, 0px);
    }
    22% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    24% {
        transform: rotate(3deg) translate(5px, 0px);
    }
    26% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}