.ear-right-img {
    animation: ear-right-animation 7s infinite;
}

@keyframes ear-right-animation {
    0%, 100% {
        rotate: 0deg;
    }
    50% {
        rotate: -15deg;
        translate: -20px;
    }
}