@font-face {
    font-family: 'WorkforceCombine';
    src: url('../fonts/Rocker-Squad.ttf') format(truetype);
}

@font-face {
    font-family: Romantic-Signature;
    src: url('../fonts/Romantic-Signature.otf') format(truetype);
}

@font-face {
    font-family: Abrosia;
    src: url('../fonts/Abrosia.otf') format(truetype);
}

body {
    box-sizing: border-box;
    overflow: hidden;
}

/* * ---- Global Container ---- */

.homepage-container {
    background: linear-gradient(0deg, rgba(135, 181, 5, 0.10) 0%, rgba(135, 181, 5, 0.10) 100%), linear-gradient(180deg, #272105 0%, #090700 100%);
    min-height: 100vh;
    position: relative;
}

.global-image-container {
    position: absolute;
    top: 0;
    left: 0;
}

/* *-------------------------------------------------------------------- */

/* * ---- Background Part ---- */

.particles-homepage {
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    background: url('../images/particles.gif');
    mix-blend-mode: screen;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
}

.noise-homepage {
    height: 100vh;
    width: 100vw;
    opacity: 0.15;
    position: absolute;
    top: 100%;
    bottom: 0;
    z-index: 4;
    background: url('../images/noise.png');
}

/* *-------------------------------------------------------------------- */

/* * ----- Desk part ----- */

.desk-homepage {
    min-width: 100%;
    position: absolute;
    bottom: -5%;
}

/* @media screen and (max-width: 1440px) {
    .desk-homepage {
        height: 107px;
        object-fit: none;
    }
}

@media screen and (max-width: 1024px) {
    .desk-homepage {
        height: 90px;
        object-fit: cover;
    }
}

@media screen and (max-width: 834px) {
    .desk-homepage {
        height: 107px;
        object-fit: none;
    }
}

@media screen and (max-width: 768px) {
    .desk-homepage {
        height: 90px;
        object-fit: none;
    }
}

@media screen and (max-width: 480px) {
    .desk-homepage {
        height: 80px;
        object-fit: none;
    }
} */

/* *-------------------------------------------------------------------- */

/* * ----- Computer Part ----- */

.computer-homepage {
    position: absolute;
    transform: translate(50vw, 1.4vh);
    display: flex;
    justify-content: center;
}

.computer-homepage-image {
    position: absolute;
}

.homepage-title {
    font-size: 80px;
    color: white;
    top: 18vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 1;
}

.homepage-font-1 {
    font-family: 'WorkforceCombine';
}

.homepage-font-2 {
    font-family: 'Abrosia';
    font-size: 100px;
}

.homepage-font-3 {
    font-family: Romantic-Signature;
}

/* @media screen and (max-width: 1440px) {
    .computer-homepage-image {
        width: 80%;
        height: 80%;
        top: 99px;
    }

    .homepage-title {
        font-size: 55px;
        top: 275px;
        gap: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .computer-homepage-image {
        width: 75%;
        height: 75%;
        top: 196px;
    }

    .homepage-title {
        font-size: 38px;
        top: 400px;
        gap: 10px;
    }

    .homepage-font-2 {
        font-family: 'Abrosia';
        font-size: 65px;
    }
}

@media screen and (max-width: 834px) {
    .computer-homepage-image {
        width: 80%;
        height: 80%;
        top: 320px;
    }

    .homepage-title {
        font-size: 34px;
        top: 610px;
    }
}

@media screen and (max-width: 768px) {
    .computer-homepage-image {
        width: 75%;
        height: 75%;
        top: 34px;
    }

    .homepage-title {
        font-size: 28px;
        top: 120px;
    }
}

@media screen and (max-width: 480px) {
    .computer-homepage-image {
        width: 70%;
        height: 70%;
        top: 316px;
    }

    .homepage-title {
        font-size: 16px;
        top: 540px;
    }

    .homepage-font-2 {
        font-family: 'Abrosia';
        font-size: 25px;
    }
} */

/* *-------------------------------------------------------------------- */

/* * ----- Mug Part ----- */

.mug-homepage {
    position: absolute;
    transform: translate(84vw, 64vh);
}
/* @media screen and (max-width: 1440px) {
    .mug-homepage {
        max-width: 20%;
        height: 20%;
        top: 630px;
        left: 1240px;
    }
}

@media screen and (max-width: 1024px) {
    .mug-homepage {
        max-width: 15%;
        height: 15%;
        top: 618px;
        left: 880px;
    }
}

@media screen and (max-width: 834px) {
    .mug-homepage {
        max-width: 13%;
        height: 13%;
        top: 817px;
        left: 725px;
    }
}

@media screen and (max-width: 768px) {
    .mug-homepage {
        max-width: 18%;
        height: 18%;
        top: 304px;
        left: 658px;
    }
}

@media screen and (max-width: 480px) {
    .mug-homepage {
        max-width: 15%;
        height: 15%;
        top: 597px;
        left: 399px;
    }
} */

/* *-------------------------------------------------------------------- */

/* * ----- Smoke Part ----- */

.smoke-homepage {
    position: absolute;
    transform: translate(87vw, 55vh);
}

/* @media screen and (max-width: 1440px) {
    .smoke-homepage {
        top: 500px;
        left: 1270px;
    }
}

@media screen and (max-width: 1024px) {
    .smoke-homepage {
        top: 520px;
        left: 895px;
    }
}

@media screen and (max-width: 834px) {
    .smoke-homepage {
        top: 720px;
        left: 735px;
    }
}

@media screen and (max-width: 768px) {
    .smoke-homepage {
        top: 200px;
        left: 665px;
    }
}

@media screen and (max-width: 480px) {
    .smoke-homepage {
        top: 530px;
        left: 405px;
    }
} */

/* *-------------------------------------------------------------------- */

/* * ----- Cat Part ----- */

.cat-homepage {
    position: absolute;
    transform: translate(25vw, 35.7vh);
    z-index: 2;
}

.body-cat-homepage {
    position: absolute;
    left: 270px;
    top: 107px;
}

.head-cat-homepage {
    width: 427px;
    height: 425px;
    background: url('../images/HEAD_WHITE.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 234px;
    left: 0;
}

.tail-cat-homepage {
    transform: scaleX(-1);
    position: absolute;
    left: 905px;
    top: 228px;
}

.nose-cat-homepage {
    position: absolute;
    left: 190px;
    top: 390px;
}

.eyes-cat-homepage {
    position: absolute;
    left: 125px;
    top: 335px;
}

.mustaches-cat-homepage {
    position: absolute;
    left: -35px;
    top: 335px;
}

.ear-right-cat-homepage {
    position: absolute;
    left: 220px;
    top: 200px;
}

.ear-left-cat-homepage {
    position: absolute;
    left: 40px;
    top: 200px;
}

/* @media screen and (max-width: 1440px) {
    .cat-homepage {
        transform: scale(0.9);
        top: 300px;
        left: 220px;
    }
}

@media screen and (max-width: 1024px) {
    .cat-homepage {
        transform: scale(0.6);
        top: 265px;
        left: 0;
    }
}

@media screen and (max-width: 834px) {
    .cat-homepage {
        transform: scale(0.55);
        top: 464px;
        left: -99px;
    }
}

@media screen and (max-width: 768px) {
    .cat-homepage {
        transform: scale(0.45);
        top: -74px;
        left: -115px;
    }
}

@media screen and (max-width: 480px) {
    .cat-homepage {
        transform: scale(0.25);
        top: 244px;
        left: -265px;
    }
} */

/* *-------------------------------------------------------------------- */

/* TODO ----- Medias Queries */

@media screen and (max-width: 480px) {
    .global-image-container {
        transform: scale(0.25);
        left: 35%;
        top: 40%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1440px) {
    .global-image-container {
        transform: scale(0.9);
        top: 9.4%;
    }

    .computer-homepage {
        transform: translate(50vw, 8.4vh);
    }

    .cat-homepage {
        transform: translate(19vw, 40.3vh);
    }

    .smoke-homepage {
        transform: translate(95.5vw, 57.5vh);
    }

    .mug-homepage {
        transform: translate(92vw, 66.5vh);
    }
}

@media screen and (max-width: 1920px) and (min-width: 1600px) {
    .global-image-container {
        transform: scale(0.99);
        top: 9.4%;
        left: -5%;
    }

    .mug-homepage {
        transform: translate(88vw, 59vh);
    }

    .smoke-homepage {
        transform: translate(91.5vw, 50vh);
    }

    .computer-homepage {
        transform: translate(50vw, 2.3vh);
    }

    .cat-homepage {
        transform: translate(19vw, 33.3vh);
    }
}

@media screen and (min-width: 1920px) {
    .global-image-container {
        transform: scale(1);
        top: -0.5%;
        left: 0%;
    }

    .mug-homepage {
        transform: translate(84vw, 64.6vh);
    }

    .smoke-homepage {
        transform: translate(91.5vw, 50vh);
    }

    .cat-homepage {
        transform: translate(21vw, 36.4vh);
    }
}




/* TODO-------------------------------------------------------------------- */